@CHARSET "UTF-8";

h3 {
	font-family: 'Catamaran', sans-serif;
	font-size: 30px;
	padding: 20px 40px;
	
}

body {
	background-color:  #f7f7f7 ;
}


/*Alineacion tablas*/
table {
	text-align: left;
	width: 45%;
	padding: 5px;
}

tr, td, th, a, button {
	padding: 5px;
	font-family: 'Catamaran', sans-serif;
}


.text-center {
	background-color: #587D52;
	color: #FFFFFF;
	font-family: monospace;
	font-size: 20px;
	margin-top: -30px;
	/*margin-bottom: 25px;*/
}

.navbar{
	background-color : #e3e9e2;
	border-color: #e3e9e2;
}
.dropdown{
	margin-top: 6%;
	
}

/* Navbar del título, "Hola, estudiante" */
.navbar-header {
	padding-left: 30px;
	font-family: monoscape;
}

/* Ajuste del navbar de botones para juntarlo con el navbar-header */
.navbar-default {
	margin-top: -30px;
}

/* Ajuste del navbar de botones para juntarlo con el navbar-default */
.navbar-inverse {
	margin-top: -30px;
}

/* Cambiar el estilo de los botones */
.navbar-btn {
	border-color: #45614B;
	background-color: #587D52;
	color: #FFFFFF;
	text-shadow: #000000;
}

/* Menú desplegable */
.dropdown-toggle {
	border-color: #45614B;
	background-color: #587D52;
	color: #FFFFFF;
	text-shadow: #000000;
}

/*
	TABLA
*/

/*Alineacion tablas*/


.tabla {
	margin: 5px 50px; /*Margen de arriba y margen hacia la derecha*/
	text-align: left;
	width: 45%;
}

.btn-boton {
	border-color: #45614B;
	background-color: #587D52;
	color: #FFFFFF;
	text-shadow: #000000;
    cursor: pointer;
	float: right;
	padding-right: 20px;
}

.btn-boton:hover {
    background-color: #fcfcfc;
	color: #587D52;
    text-decoration: none;
}
.caja {
	margin: 5px 50px; /*Margen de arriba y margen hacia la derecha*/
}
