<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="${'Nadadors de '+pais+', classificats per prova'}"></title>
		<meta charset="UTF-8" />
		<link rel="stylesheet"     
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
	</head>
	<body>
		<h1 th:text="${'Nadadors de '+pais+', classificats per prova'}"></h1>
		<div th:each="nomprova: ${classificacions.keySet()}">
			<h2 th:text="${nomprova}"></h2>
			<ul>
				<li th:each="nadador: ${classificacions.get(nomprova)}">
					<span th:text="${nadador.nom}"></span>
				</li>
			</ul>
		</div>
	</body>
</html>