<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
		<h1>Hola, empresa</h1>
    </div>
  
    <ul class="nav navbar-nav navbar-right">
	  <li><a href="#"><span class="glyphicon glyphicon-globe"></span> Idioma </a></li>
   	  <li><a href="perfil.html"><span class="glyphicon glyphicon-user"></span> Perfil </a></li>
      <li><a href="index.html"><span class="glyphicon glyphicon-home"></span> Inicio</a></li>
      <li><a href="logout.html"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
    </ul>
  </div>
</nav> 