<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Pagina principal empresa</title>
		<meta charset="UTF-8" />
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="/css/empresa.css" th:href="@{/css/empresa.css}"/>
	</head>
	
	<div class="jumbotron text-center">
  	<h1>SAPE</h1>
 	<p>blablabla</p> 
	</div>
	<body>
		<h2>Hola, empresa</h2>
	<div class="caja">	
		<table class="table table-striped">
    		<thead>
      			<tr>
        			<th>Titulo</th>
        			<th>Fecha</th>
       				<th>Estado</th>
      			</tr>
    		</thead>
    		<tbody>
    			<tr th:each="oferta: ${ofertas}">
					<td th:text="${oferta.getEstancia()}">&nbsp;</td>
					<td th:text="${oferta.getFechaEstado()}">&nbsp;</td>
					<td th:text="${oferta.getFechaAlta()}">&nbsp;</td>
					<td th:text="${oferta.getEstado())}">&nbsp;</td>
					<td><a th:href="@{/estudiante/update/{usuario}(usuario=${estudiante.getUsuario()})}">Modifica estudiante</a></td>
					<td><a th:href="@{/estudiante/delete/{usuario}(usuario=${estudiante.getUsuario()})}">Elimina estudiante</a></td>
					<td><a th:href="@{/estudiante/consulta/{usuario}(usuario=${estudiante.getUsuario()})}">Consulta estudiante</a></td>
				</tr>
				
			</tbody>	
 	</table>
  </div>
</body>
</html>



